<%= form_with model: @user do |form| %>
   <p>
    <%= form.label :event_name %><br>
    <%= form.text_field :event_name %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.label :date %><br>
    <%= form.text_area :date %>
  </p>
  <p>
    <%= form.label :location %><br>
    <%= form.text_area :location %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
