<%= form_for event do |f| %>
   <div>
    <%= f.label :event_name %><br>
    <%= f.text_field :event_name %>
  </div>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :date %><br>
    <%= f.text_area :date %>
  </p>
  <p>
    <%= f.label :location %><br>
    <%= f.text_area :location %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
