<div class="section">
<div class="container">

<h1>Add new Event</h1>

<%= form_with model: @event do |form| %>
<%= @event.errors.full_messages %>
 
 <br/>

 <%= form.label :event_name, "Event Name" %>
 <br />
 <%= form.text_field :event_name, placeholder: "Enter the event name" %>
 <br />

 <%= form.label :description, "Description"%>
 <br>
 <%= form.text_area :description, placeholder: "Enter short description of the event..." %>
 <br />

 <%= form.label :location, "Location"%>
 <br>
 <%= form.text_field :location, placeholder: "Enter the location of the event..." %>
 <br />

 <%= form.label :date, "Date"%>
 <br>
 <%= form.text_field :date, placeholder: "Enter the date..." %>
 <br />
 <br />

 <%= form.submit "Submit" %>
<% end %>
<br/>
<br/>
</div>
</div>
