<!DOCTYPE html>
<html>
  <head>
    <title>EventBrite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section>
        <nav>
            <div class="left-nav">

            </div>
            <div class="right-nav">
                <div class='current-user'>
                    <h3>
                        <%= show_sign_links %>
                    </h3>
                </div>
                <%= show_navigation_items %>


            </div>
        </nav>
    </section>
    <%= yield %>
  </body>
</html>
